<template>
    <div>
        <ul>
            <BookToList
            v-for="book of books"
            :key="book.id"
            v-bind:book="book"
            />
        </ul>
    </div>
</template>

<script>
    import BookToList from '@/components/BookToList'

    export default {
        props: ['books'],
        components: {
            BookToList
        }
    }
</script>

<style scoped>
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
</style>
