<template>
    <li>
        {{book.id}} {{book.author}} "{{book.bookName}}" - {{book.price}} руб.
    </li>
</template>

<script>
    export default {
        props: {
            book: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>
    li {
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        padding: .5rem 2rem;
        margin-bottom: 1rem;
    }
</style>