<template>
    <div>
        <h2>Книжный магазин</h2>
        <a href="/login">Админка</a>
        <hr>
        <BookList
                v-bind:books="books"
        />

    </div>
</template>

<script>
    import BookList from '@/components/BookList'

    export default {
        name: 'Home',
        data() {
            return {
                books:[
                    {id:1, author: "Лев Толстой", bookName: "Анна Каренина", price: 123},
                    {id:2, author: "Стивен Кинг", bookName: "Сияние", price: 456},
                    {id:3, author: "Джон Толкин", bookName: "Властелин колец", price: 789}
                ]
            }
        },

        // mounted() {
        //     fetch('https://jsonplaceholder.typicode.com/todos')
        //         .then(response => response.json())
        //         .then(json => {
        //             this.books = json
        //             //console.log(json)
        //         })
        // },

        components: {
            BookList
        }
    }
</script>

<style scoped>
    div {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>