<template>

    <div>
        <form>
            <input type="text" placeholder="Логин">
            <input type="password" placeholder="Пароль">
            <button type="submit">Войти</button>
        </form>
        <a href="/">Назад</a>
    </div>

</template>

<script>

    export default {
        name: 'Login'
    }
</script>

<style scoped>
    div {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        background-size: cover;
        border-radius: 4px;

    }
</style>